/* Filter style */
.filters
{
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.filters button
{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 30px;
    opacity: 1;
}
.filters button:hover
{
    opacity: 0.9;
}
.locations, .amenities {
    height: 100%;
    width: 25%;
    margin-left: 50px;
}
.locations
{
    border-right: 1px solid #DDDDDD;
}
.filters h3
{
    font-weight: 600;
    padding: 0%;
    margin-bottom: 2px;
}
.filters h4
{
    font-weight: 400;
    font-size: 14px;
    padding-top: 0%;
    margin-top: 0%;
    margin-bottom: 16px;
}
.filters h2
{
    margin-left: -15px;
    font-size: 16px;
    margin-bottom: 5px;
}
.filters ul
{
    list-style-type: none;
}
.popover::-webkit-scrollbar {
	display: none;
}
.popover
{
    background-color: #FAFAFA;
    border: #DDDDDD solid 1px;
    border-radius: 4px;
    margin-left: -50.333px;
    padding-top: 15px;
    padding-bottom: 25px;
    display: none;
	position: relative;
	overflow-y: scroll;
	max-height: 300px;
	scrollbar-width: none;
}
.popover li
{
    margin-left: 8.667px;
    margin-bottom: 6px;
}
.locations:hover .popover, .amenities:hover .popover
{
    display: block;
}